<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wineberryhalley.qstart">

<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application android:requestLegacyExternalStorage="true">
        <provider
            android:name=".api.QStartProvider"
            android:authorities="${applicationId}.abueno"
            android:exported="false"
            android:label="LentItemsProvider" />

        <activity android:name=".api.LoginQStart" android:theme="@style/LogQs"></activity>
        <activity
            android:name=".intro.IntroQStart"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>